@(unitFeatures: UnitFeatures)(settings: SinglePlayerSetting)(pud: models.format.PudCodec.Pud)(implicit r: RequestHeader)

@main(title = "WarCraft II - now in browser") {
    <script>
        var unitFeatures = @play.api.libs.json.Json.toJson(unitFeatures);
        var mapHeight = @pud.mapSizeY;
        var mapWidth = @pud.mapSizeX;
        var mapTileset = '@pud.tileset';

        var tilesets = {};
        var units = {};
        var UnitTypeFiles = {};
        var missiles = {};
        var burningBuilding = [];
    </script>

    <script src="@routes.Assets.at("javascripts/lib/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/utils.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/enums.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/pud.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/human/units.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/orc/units.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/units.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/tilesets/summer.js")" type="text/javascript"></script>
    @*<script src="@routes.Assets.at("javascripts/tilesets/winter.js")" type="text/javascript"></script>*@
    <script src="@routes.Assets.at("javascripts/tilesets/wasteland.js")" type="text/javascript"></script>
    @*<script src="@routes.Assets.at("javascripts/tilesets/swamp.js")" type="text/javascript"></script>*@

    <script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/minimap.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/listeners.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/selection.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/infopanel.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/game.js")" type="text/javascript"></script>
} {
    <div id="container">
        <div class="leftColumn">
            <div class="menubutton"></div>
            <div class="minimap">
                <canvas id="minimap" width="128" height="128"></canvas>
                <canvas id="minimapUnits" width="128" height="128"></canvas>
                <canvas id="minimapViewportRect" width="128" height="128"></canvas>
            </div>
            <div class="infopanelContainer">
                <canvas id="infopanel" width="176" height="320"></canvas>
            </div>
            <div class="buttonpanel"></div>
        </div>

        <div class="middleColumn">
            <div class="resource"></div>
            <div class="map">
                <div id="mapContainer">
                    <div>
                        <canvas id="map"></canvas>
                        <canvas id="fog"></canvas>
                        <canvas id="selection"></canvas>
                    </div>
                </div>
            </div>
            <div class="status-line"></div>
        </div>

        <div class="filler-right">
            <div class="top"></div>
            <div class="mid"></div>
            <div class="bottom"></div>
        </div>
    </div>
    <script>
        $(function() {
            var game = new Game(function() {
                var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
                var gameSocket = new WS("@routes.Application.ws(settings).webSocketURL()");

                gameSocket.ready = $.Deferred();
                gameSocket.onopen = function(event) {
                    this.ready.resolve();
                };

                gameSocket.send = function(text) {
                    this.ready.done(function() {
                        WS.prototype.send.call(this, text);
                    }.bind(this));
                };

                gameSocket.onmessage = function(event) {
                    var data = JSON.parse(event.data);
                    game.render(data);
                };

                return gameSocket;
            });
        });
    </script>
}