@(gameId: Int, playerId: Int, tileset: Tileset.Value, pud: _root_.format.pud.Pud)(implicit r: RequestHeader)

@main("WarCraft II - now in browser",
    List("game.css"),
    List("lib/jquery-1.8.2.min.js",
         "utils.js", "enums.js", "pud.js",
         "human/units.js", "orc/units.js", "units.js",
         "animations.js", "human/animations.js", "orc/animations.js",
         "animation.js",
         "missiles.js", "missile.js",
         "tilesets/summer.js", "tilesets/winter.js", "tilesets/wasteland.js", "tilesets/swamp.js",
         "layout.js", "layoutmanager.js",  "map.js", "minimap.js", "listeners.js", "selection.js", "infopanel.js",
         "unit.js", "game.js")) {
    <script>
        var mapHeight = @pud.mapSizeY;
        var mapWidth = @pud.mapSizeX;
        var mapTileset = '@tileset';

        var tilesets = {};
        var units = {};
        var UnitTypeFiles = {};
        var missiles = {};
        var burningBuilding = [];
        var animations = {};
        var missiles = {};
    </script>

} {
<div id="container">
    <div class="leftColumn">
        <div class="menubutton"></div>
        <div class="minimap">
            <canvas id="minimap" width="128" height="128"></canvas>
            <canvas id="minimapUnits" width="128" height="128"></canvas>
            <canvas id="minimapViewportRect" width="128" height="128"></canvas>
        </div>
        <div class="infopanelContainer">
            <canvas id="infopanel" width="176" height="320"></canvas>
        </div>
        <div class="buttonpanel"></div>
    </div>

    <div class="middleColumn">
        <div class="resource"></div>
        <div class="map">
            <div id="mapContainer">
                <div>
                </div>
            </div>
        </div>
        <div class="status-line"></div>
    </div>

    <div class="filler-right">
        <div class="top"></div>
        <div class="mid"></div>
        <div class="bottom"></div>
    </div>
</div>
<script>
    function computeDimension(selector, notSelector, mapFunction) {
        return $(selector).not(notSelector)
            .map(mapFunction).get()
            .reduce(function(a,b) { return a + b; });
    }

    function fixDimensions() {
    var heightFunc = function() { return $(this).height(); };
    var widthFunc = function() { return $(this).width(); };

    $("div#container div.buttonpanel").height($("div#container > div.leftColumn").height() -
        computeDimension("div#container > div.leftColumn > div", ".buttonpanel", heightFunc));

    $("div#container div.map").height($("div#container > div.middleColumn").height() -
        computeDimension("div#container > div.middleColumn > div", ".map", heightFunc));

    $("div#container div.middleColumn").width($(window).width() -
        computeDimension("div#container > div", ".middleColumn", widthFunc));

    $("div#container div.filler-right div.mid").height($("div#container > div.filler-right").height() -
        computeDimension("div#container > div.filler-right > div", ".mid", heightFunc));
    }

    fixDimensions();
    $(window).resize(function() { fixDimensions(); });
</script>
<script>
    $(function() {
        document.oncontextmenu = function() { return false; };

        var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
        var gameSocket = new WS('@routes.Application.ws(gameId, playerId).webSocketURL()');

        gameSocket.ready = $.Deferred();
        gameSocket.onopen = function(event) {
            this.ready.resolve();
            gameSocket.send(JSON.stringify({type: 'WebSocketInitOk'}));
        };

        gameSocket.send = function(text) {
            this.ready.done(function() {
                WS.prototype.send.call(this, text);
            }.bind(this));
        };

        function onInit(event) {
            var data = JSON.parse(event.data);
            game.init(data.playerNum, data.race, data.unitTypes, data.startPosX, data.startPosY, function() {
                gameSocket.send(JSON.stringify({type: 'ClientInitOk'}));
            });
            var lastFrames = 0;
            setInterval(function() {
                console.info((new Date(Date.now())).toLocaleTimeString() + ': fps = ' + ((game.frames - lastFrames) / 60));
                lastFrames = game.frames;
            }, 60 * 1000);
            gameSocket.onmessage = game.onUpdate.bind(game);
        }

        gameSocket.onmessage = onInit;

        var game = new Game(gameSocket);
    });
</script>
}